<div fxLayout="column" fxFlexFill>

  <mat-sidenav-container class="contenedor">
    <!-- Panel lateral de filtros -->
    <mat-sidenav mode="side" [(opened)]="mostrarFiltros" class="sidenav-filtros" fixedInViewport>
<mat-card>
  <mat-card-header>
    <mat-card-title>Seguimiento a proyectos</mat-card-title>
    <mat-card-subtitle>Filtro de búsqueda</mat-card-subtitle>
  </mat-card-header>

        <mat-card-content>
          <form [formGroup]="formBusqueda">
            <!-- Primera fila -->
            <div fxLayout="column" fxLayoutGap="15px">
              <mat-form-field appearance="outline">
                <mat-label>Código proyecto</mat-label>
                <input matInput formControlName="codigo" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado">
                  <mat-option *ngFor="let estado of estados" [value]="estado.nombreBD">
                    {{ estado.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Tipo proyecto</mat-label>
                <mat-select formControlName="tipoProyecto">
                  <mat-option *ngFor="let tipo of tipos" [value]="tipo.identificador">
                    {{ tipo.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Proceso Selección</mat-label>
                <mat-select formControlName="procesoSeleccion">
                  <mat-option *ngFor="let centro of centros" [value]="centro.identificador">
                    {{ centro.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Centro de Gestión</mat-label>
                <mat-select formControlName="centroGestion">
                  <mat-option *ngFor="let centro of centros" [value]="centro.identificador">
                    {{ centro.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Botones -->
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <button mat-raised-button color="primary" (click)="consultar()">
                  <mat-icon>search</mat-icon>
                  CONSULTAR
                </button>
                <button mat-raised-button color="accent" type="button" (click)="limpiarFiltros()">
                  <mat-icon>clear</mat-icon>
                  LIMPIAR
                </button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-sidenav>

    <!-- Contenido principal -->
    <mat-sidenav-content>
      <mat-card *ngIf="dataSource.data.length > 0">
        <mat-card-header>
          <mat-card-title>Proyectos</mat-card-title>
          <!-- Botón para mostrar/ocultar filtros -->
          <button mat-icon-button (click)="toggleFiltros()">
            <mat-icon>{{ mostrarFiltros ? 'chevron_left' : 'chevron_right' }}</mat-icon>
          </button>
        </mat-card-header>

        <mat-card-content>
          <div style="overflow-x: auto;">
           <table mat-table [dataSource]="dataSource">
          <!-- Columnas -->
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let p">{{ p.codigo }}</td>
          </ng-container>

          <ng-container matColumnDef="proyecto">
            <th mat-header-cell *matHeaderCellDef>Proyecto</th>
            <td mat-cell *matCellDef="let p">{{ p.nombreCorto }}</td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let p">{{ p.estado }}</td>
          </ng-container>

          <ng-container matColumnDef="nivel">
            <th mat-header-cell *matHeaderCellDef>Nivel</th>
            <td mat-cell *matCellDef="let p">{{ p.nivel }}</td>
          </ng-container>

          <ng-container matColumnDef="convocatoria">
            <th mat-header-cell *matHeaderCellDef>Convocatoria</th>
            <td mat-cell *matCellDef="let p">{{ p.nombreCortoConvocatoria }}</td>
          </ng-container>

          <ng-container matColumnDef="procesoSeleccion">
            <th mat-header-cell *matHeaderCellDef>Proceso selección</th>
            <td mat-cell *matCellDef="let p">{{ p.procesoSeleccion }}</td>
          </ng-container>

          <ng-container matColumnDef="responsable">
            <th mat-header-cell *matHeaderCellDef>Responsable</th>
            <td mat-cell *matCellDef="let p">{{ p.responsable }}</td>
          </ng-container>

          <ng-container matColumnDef="ipCoordinador">
            <th mat-header-cell *matHeaderCellDef>IP o Coordinador</th>
            <td mat-cell *matCellDef="let p">{{ p.ipCoordinador }}</td>
          </ng-container>

          <ng-container matColumnDef="tipoProyecto">
            <th mat-header-cell *matHeaderCellDef>Tipo Proyecto</th>
            <td mat-cell *matCellDef="let p">{{ p.tipoProyectoNombre }}</td>
          </ng-container>


          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let p">
              <button mat-icon-button [matMenuTriggerFor]="menuAcciones">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menuAcciones="matMenu">
                <button *ngIf="p.estado === 'aprobado'" mat-menu-item (click)="realizarInicioFormal()">
                  <mat-icon>edit</mat-icon>
                  <span>Realizar inicio formal</span>
                </button>
                <button mat-menu-item (click)="verDetalle()">
                  <mat-icon>description</mat-icon>
                  <span>Ver detalle proyecto </span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <!-- Filas -->
          <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
          <tr mat-row *matRowDef="let row; columns: columnasTabla"></tr>

        </table>


            <mat-paginator [length]="totalRegistros" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- Spinner global -->
  <app-loading-spinner></app-loading-spinner>
</div>
