/* You can add global styles to this file, and also import other style files */
@use "@angular/material/prebuilt-themes/indigo-pink.css";

/*------------- Reset ------------- */

*{
    font-family: 'Roboto', sans-serif; 
}


body{ 
    height: inherit;
    margin: 0;
    padding: 0;
    background: #fafafa;
}

